<VirtualHost *:80>
  ServerAdmin support.c4e.infra@michelin.com
  ServerName {{ site_url }}
  DocumentRoot {{ DOC_ROOT }}/{{ site_user }}/web
  DirectoryIndex index.php index.html
  ErrorLog {{ DOC_ROOT }}/{{ site_user }}/logs/{{ site_user }}-error.log
  CustomLog {{ DOC_ROOT }}/{{ site_user }}/logs/{{ site_user }}-access.log combined

    <Directory {{ DOC_ROOT }}/{{ site_user }}/web>
      Options -Indexes -Includes +FollowSymLinks +MultiViews
      AllowOverride All
      Order Allow,Deny
      Allow from all
      Require all granted
    </Directory>

  ProxyPassMatch "^/(.*\.php(/.*)?)$" "unix:{{ PHP_FPM_SOCK_PATH }}/{{ site_user }}.sock|fcgi://localhost{{ DOC_ROOT }}/{{ site_user }}/web"
</VirtualHost>
