[defaults]
interpreter_python = auto_silent
remote_user=webadmin
inventory=/etc/ansible/hosts # In container, maps to /etc/ansible/hosts. Locally uses relative path orenv var.
host_key_checking=False
private_key_file=/etc/ansible/webadmin_rsa # Ensure this is mounted safely if used
